<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xmlns:aop="http://www.springframework.org/schema/aop"
     xmlns:context="http://www.springframework.org/schema/context"
     xsi:schemaLocation="
     http://www.springframework.org/schema/beans 
     http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
     http://www.springframework.org/schema/aop 
     http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
     http://www.springframework.org/schema/context
	 http://www.springframework.org/schema/context/spring-context.xsd">

	<context:component-scan base-package="cs544.exercise16_1.bank" />
	<context:annotation-config />
	 <aop:aspectj-autoproxy/>
	
      <bean id="accountServiceStart" class="cs544.exercise16_1.bank.service.AccountService" autowire="constructor">
 
     </bean>
     
     <bean id="accountDAO" class="cs544.exercise16_1.bank.dao.AccountDAOHibernate"/>
     <bean id="currencyConverter" class="cs544.exercise16_1.bank.service.CurrencyConverter"/>
      <bean id="jmsSender" class="cs544.exercise16_1.bank.jms.JMSSender"/>
     <bean id="logger" class="cs544.exercise16_1.bank.logging.Logger"/>
</beans>